extends layout
mixin animal(animals)
    td
        each animal, index in animals
            case Math.round(index)
                when 1
                    p= 'Rat: ' + animal
                when 2
                    p= 'Spider: ' + animal
                when 3
                    p= 'Snake: ' + animal
                when 4
                    p= 'Bat: ' + animal
                when 5
                    p= 'Boar: ' + animal
                when 6
                    p= 'Wolf: ' + animal
                when 7
                    p= 'Bear: ' + animal
                when 8
                    p= 'Crocodile: ' + animal
                when 9
                    p= 'Tiger: ' + animal
                when 10
                    p= 'Elephant: ' + animal
                when 11
                    p= 'idk: ' + animal
                default
                    p= 'Haven\'t'
mixin row(items)
    tr
        each item, index in items
            if index === 'animal'
                +animal(item)
            else if index === 'counterAnimalType' || index === 'avgAllDpsInfantry' || index === 'avgAllDpsMounted'
            else
                td= item
//      avgMaxDps: 'average Max DPS for each cage', - доделать подсчёт на кол-во эффективных клеток

mixin table(tableData)
    table(class='table')
        +row({x: 'x', y: 'y', animals: 'animals', avgAllDps: 'average All DPS for each cage'})
        each row, index in tableData
            if row.oasis != 0
                +row(row)

block content
    h1= title
    h3= fromGame
    +table(JSON.parse(map))